.main{
    max-height: 50wh;
}
.mainContent{
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
}
.punkHighlight{
    flex:0.25;
    display: flex;
    align-items: center;
    justify-content: center;
}
.punkContainer{
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    margin-right: 20px;
}

.punkDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex:0.75;
}
.title{
    font-size: 80px;
    font-weight:900 ;

}
.itemNumber{
    font-size: 60px;
    font-weight:900 ;

}
.ownerImageContainer{
    border-radius: 50px;
    
   
}
.ownerHandle{
    color:whitesmoke;
}
.ownerNameAndHandle{
    color: whitesmoke;
}
.ownerImageContainer>img{
    
    border-radius: 360px;
}